*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.starting-menu-container {
  display: grid;
  gap: 1em;
}

.instruction {
  text-align: center;
  font-size: 2.5rem;
  color: white;
}

.buttons-container {
  display: flex;
  gap: 1em;
  margin: 0 auto;
}

.board-size-button {
  padding: 0.25em 0.75em;
  border: 2px solid white;
  border-radius: 0.25em;
  background-color: #803a3a;

  cursor: pointer;
  font-size: 1.5rem;
  color: white;

  transition: background-color 250ms ease-out,
    color 250ms ease-out;
}

.board-size-button:hover {
  background-color: white;
  color: #803a3a;
}

.card {
  width: 50px;
  height: 50px;
  background: url(img/crowSmoking.png) no-repeat center center / cover;
  cursor: pointer;
}

.collumns-4 {
  display: grid;
  justify-items: center;
  gap: 0.25em;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;
  margin: 0 auto;
}

@media(min-width: 500px){

  .starting-menu-container {
    gap: 2em;
  }
  
  .instruction {
    font-size: 3rem;
  }
  
  .buttons-container {
    gap: 2em;
  }
  
  .board-size-button {
    padding: 0.25em 0.75em;
    border-radius: 0.25em;  
    font-size: 2rem;
  }
  .card{
    width: 100px;
    height: 100px;
  }
}
@media(min-width: 800px){
  .starting-menu-container {
    gap: 3em;
  }
  
  .instruction {
    font-size: 4rem;
  }
  
  .buttons-container {
    gap: 2em;
  }
  
  .board-size-button {
    padding: 0.25em 0.75em;
    border-radius: 0.25em;  
    font-size: 2.5rem;
  }

  .card{
    width: 150px;
    height: 150px;
  }
}
