body {
  background: #222;
  color: #fefefe;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

div {
  width: 100%;
  aspect-ratio: 1;
}

.card-back {
  background-image: url(img/crowSmoking.png);
  background-size: cover;
}